body{
    background-color: rgb(238, 158, 198);
     display: flex;
     justify-content: center;
     align-items: center;
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;


}
h1{
    color: #c33088;
}